<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.postgres" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="postgresql-42.7.3.jar"/>
    </resources>

    <dependencies>
        <module name="java.instrument"/>
        <module name="java.logging"/>
        <module name="java.management"/>
        <module name="java.naming"/>
        <module name="java.scripting"/>
        <module name="java.sql"/>
        <module name="java.transaction.xa"/>
        <module name="javax.api"/> 
    </dependencies>
</module>
